.quest {
    text-align: center;
    font-size: 3rem;
    font-family: typewriter;
    color: rgb(182, 23, 23);
    text-shadow: 0px 0px 22px rgb(137,16,16);
    letter-spacing: 5px;
}
.input, .lastGuess {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-family: monospace;
    font-size: 9rem;
    color: rgb(217, 29, 29);
    text-shadow: 0px 0px 22px rgb(175, 21, 21);
}
.lastGuess {
    position: absolute;
    left: 50%; top: 60%;
    font-size: 3rem;
    opacity: 0.5;
}
.correct {
    font-size: 15rem;
    font-weight: 900;
    color: rgb(217, 29, 29);
    animation: rainbow 1s infinite linear, zoomInZoomOut 1s infinite linear;
}
.output {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10px;
    opacity: 0;
    white-space: nowrap;
}
.outputApperance {
    animation: outputApperance 1s ease-in;
}
.progressCircle {
    position: absolute;
    right: 30px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: black linear-gradient(to right, transparent 50%, red 0);
    opacity: 1;
    --anim-play-state: paused;
    --anim: circleLoad 1s linear;
    opacity: 0;
}
.progressCircle::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
    background-color: black;
    animation: var(--anim);
    animation-play-state: var(--anim-play-state);
}
.attempts {
    font-family: typewriter;
    color: rgb(217, 29, 29);
    text-shadow: 0px 0px 22px rgb(175, 21, 21);
    font-weight: bold;
    text-align: center;
}
@keyframes outputApperance {
    from {
        letter-spacing: 10px;
        opacity: 1;
    }
    to {
        letter-spacing: 50px;
        opacity: 0;
    }
}
@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
@keyframes zoomInZoomOut {
    0%, 100% {
        transform: translate(-50%, -50%) translateZ(-50px);
    }
    50% {
        transform: translate(-50%, -50%) translateZ(50px);
    }
}

@keyframes scrollText {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(-62.75%);
    }
}
.scrollText { animation: scrollText 1s infinite linear; }

@keyframes circleLoad {
    0% {
        transform: rotate(calc(0 * 0.01turn));
        background-color: black;
    }
    49.9% {
        transform: rotate(calc(50 * 0.01turn));
        background-color: black;
    }
    50% {
        transform: rotate(calc(0 * 0.01turn));
        background-color: red;
    }
    100% {
        transform: rotate(calc(50 * 0.01turn));
        background-color: red;
    }
}