.quest {
    text-align: center;
    font-size: 3rem;
    font-family: typewriter;
    color: rgb(182, 23, 23);
    text-shadow: 0px 0px 22px rgb(137,16,16);
    letter-spacing: 5px;
}
.input {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-family: monospace;
    font-size: 9rem;
    color: rgb(217, 29, 29);
    text-shadow: 0px 0px 22px rgb(175, 21, 21);
}
.output {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10px;
    opacity: 0;
}
.outputApperance {
    animation: outputApperance 1s ease-in;
}
@keyframes outputApperance {
    from {
        letter-spacing: 10px;
        opacity: 1;
    }
    to {
        letter-spacing: 50px;
        opacity: 0;
    }
}