.quest {
    text-align: center;
    font-size: 3rem;
    font-family: typewriter;
    color: rgb(182, 23, 23);
    text-shadow: 0px 0px 22px rgb(137,16,16);
    letter-spacing: 5px;
}
.input {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-family: monospace;
    font-size: 9rem;
    color: rgb(217, 29, 29);
    text-shadow: 0px 0px 22px rgb(175, 21, 21);
}