@font-face {
    font-family: milker;
    src: url("../fonts/Milker.otf");
}
@font-face {
    font-family: typewriter;
    src: url("../fonts/JMH Typewriter.otf");
}

body {
    perspective: 500px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    color: #f0f0f0;
    user-select: none;

    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../img/background.webp");
}