#scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    z-index: 10;
    min-width: 400px;
    font-size: 2rem;
    padding: 25px;
    border-radius: 15px;
    transition: opacity 0.25s;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.row:last-of-type {
    margin: 0;
}
.point {
    border: 5px solid rgb(67, 67, 67);
    width: 25px;
    height: 25px;
    border-radius: 15px;
}
.points-row {
    display: flex;
    gap: 5px;
    margin-left: 10px;
}
.win {
    background-color: green;
}
.info {
    font-size: 1.2rem;
    justify-content: center;
    margin-top: 25px;
}
.playersCount {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.5;
}
.lobby-button {
    position: relative;
}
#ping {
    position: absolute;
    right: 30px;
    bottom: 60px;
    display: none;
    opacity: 0.8;
    color: white;
}
#online-players {
    position: absolute;
    right: 30px;
    bottom: 90px;
    display: none;
}
.disconnected {
    filter: grayscale(100%);
}